<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{url_for('static', path='/todo/css/base.css')}}">
    <link rel="stylesheet" href="{{url_for('static', path='/todo/css/bootstrap.css')}}">
    <meta charset="UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo App</title>
</head>
<body>



<div>
   <nav class="navbar navbar-expand-md navbar-dark main-color fixed-top">
      <a class="navbar-brand" href="#">Todo App</a>"
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">

      </button>   
     
  </nav>

</div>
    
    <h1> Welcome to fast API </h1>
    
</body>
</html>